nav{
    background-color:rgb(89, 63, 148,0.8);
    padding:20px;
    display:flex;
    justify-content: space-between;
    color:#fff;
    position:fixed;
    top:0;
    width: 100%;
    z-index:99;
    transition: 0.3s;
}


.logo{
    font-weight:600;
    font-size: 25px;
    color:rgb(235, 76, 235);
}

.logo font{
    color: #fff;
}

.menu-css{
    list-style-type:none;
    display:flex;
    justify-content: space-between;
    align-items:center;
}

.menu-css li a {
    text-decoration:none;
    color:#fff;
    font-weight:300;
    padding:5px 5px;
    margin-left:20px;
}

.menu-css li a:hover ,.menu-css li a.active {
    background-color: #fff;
    border-radius:10px;
    color:rgb(89, 63, 148);
    transition : all 0.2s ease-in-out;
}
 
.menu-css li:last-child a{
    background-color: rgb(226, 47, 107);
    color:#fff;
    padding:8px 10px;
    border-radius: 6px;
    transition : all 0.3s ease-in-out;
    margin-left: 20px;

}

.menu-icon{
    display:none;
}


@media screen and (max-width:800px){
    .logo{
        font-size:20px;
    }
    .menu-css li a{
        font-size:14px;
        margin-left:10px;
    }
}

@media screen and (max-width:600px){
    .menu-icon{
        display:block;
    }
    .menu-css {
        flex-direction:column;
        width:100%;
        position:absolute;
        background-color:rgb(89, 63, 148,0.7);
        padding:20px;
        right:0;
        top:64px;
        transition:all 0.3s ease-in-out;
        margin-top: 0.5%;
    }
    .menu-css li{
        margin-bottom:20px;
        width:100%;
        text-align:center;
    }
    .menu-css li:last child{
        margin-bottom:0px;
    }
    .menu-css li a, .menu-css li:last-child a{
        width:100px;
        display:block;
        margin:auto;
    }
    .menu-css .close{
        right:-100%;
        transition:all 0.3s ease-in-out;
    }
}

.fas {
    cursor:pointer;
}
.menu-icon .fa-times{
    transform:rotate(360deg);
    transition:all 0.2s ease-in-out;
}
.menu-icon .fa-bars{
    transform:rotate(180deg);
    transition:all 0.2s ease-in-out;
}

.menu-css.close{
    right:-100%;
    transition:all 0.3s ease-in-out;
}


